.contenido {
  display: grid;
  gap: 5rem;
  align-items: flex-start;
}

.cart {
  padding: 3rem;
}

aside {
  position: sticky;
  top: 3rem;
}

.resume {
  background-color: #e1e2e2;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}

.item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.item:last-of-type {
  border-bottom: none;
}

.select {
  all: unset;
  border: 1px solid #cfcfcf;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
}

.item p {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
}

.item span {
  font-weight: 900;
  font-size: 2.2rem;
}

.item .name {
  font-weight: 700;
  font-size: 2.2rem;
}

.item .price {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  color: var(--primary);
}

.item .subtotal {
  font-size: 1.5rem;
}

.btn-delete {
  all: unset;
  position: absolute;
  top: 3rem;
  right: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }
  .resume-btn {
    flex-direction: column;
  }

  .resume-btn .btn {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .resume-btn {
    flex-direction: row;
  }
}
