:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --error: #db4c4c;
  --success: #4f9c40;
  --fuente-principal: "Outfit", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
.btn {
  all: unset;
  margin-top: 1rem;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  padding: 1.4rem;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 300ms;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.btn-disabled {
  background-color: #e1e2e2;
  cursor: not-allowed;
  color: #7a7878;
}

.btn-disabled:hover {
  background-color: #e1e2e2;
}

/*** Header ***/

.header {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.8),
      rgb(0 0 0 / 0.7)
    ),
    url(/img/header.jpg);
  padding: 6rem 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header .logo {
  width: 25rem;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header .navegacion {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .navegacion a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

.header .navegacion img {
  width: 3rem;
}

.header .navegacion a:hover,
.header .active {
  background-color: var(--primary);
}

.header .sub-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.header .sub-nav a {
  font-weight: normal;
  font-size: 1.2rem;
}

/** Footer **/

.footer {
  background-color: var(--black);
  padding: 5rem 0;
  margin-top: 5rem;
}

.footer .navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .navegacion a,
.footer .copyright {
  color: var(--white);
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 700;
}

.footer .navegacion a:last-of-type {
  display: none;
}

.footer .copyright {
  text-align: center;
  font-weight: 400;
}

.error,
.error-enlace {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.error-enlace {
  display: block;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.8rem;
}

.enlace {
  margin-top: 2rem;
  display: block;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}

.enlace:hover {
  background-color: var(--primary);
}

@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }

  .header .navegacion {
    margin-top: 0;
  }

  .footer .contenido-footer {
    display: flex;
    justify-content: space-between;
  }

  .footer .navegacion {
    flex-direction: row;
    gap: 2rem;
  }
}
